FlightsAndSearch/node_modules/
FlightsAndSearch/.env
FlightsAndSearch/src/config/config.json
AuthService/node_modules
AuthService/.env
AuthService/src/config/config.json
BookingService/node_modules
BookingService/config/config.json
BookingService/.env
ReminderService/node_modules
ReminderService/.env